---
title: Publications
nav_item: resources
page_title: Publications | MLQC4FC
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body class="dark-mode">

    <!-- Spinner Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    {% include navbar.html %}

    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">Publications</h3>
            <p class="fs-5 text-white mb-4">Help us track MLQC4FC outputs and acknowledge COST support.</p>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="resources.html">Resources</a></li>
                <li class="breadcrumb-item active text-white">Publications</li>
            </ol>
        </div>
    </div>
    <!-- Header End -->

    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="tab-class p-4 h-100 d-flex flex-column">
                    <h5 class="text-uppercase text-primary mb-3">Acknowledging MLQC4FC</h5>
                    <p class="mb-3">If the publication involves research related to MLQC4FC and was performed in the context of the
                        Action, please include the following acknowledgement:</p>
                    <ul class="mb-3">
                        <li class="mb-0">“This work has benefited from activities carried out within the framework of the COST
                            Action MLQC4FC (CA24146), supported by COST (European Cooperation in Science and Technology).”</li>
                    </ul>
            
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tab-class p-4 h-100 d-flex flex-column">
                    <h5 class="text-uppercase text-primary mb-3">Share your MLQC4FC outputs</h5>
                    <p class="mb-3">We have prepared a short Google Form to collect information about publications (pre-prints, papers, patents, etc.) that were possible thanks to MLQC4FC.</p>
                    <p class="mb-0">Please submit the details to help us report and showcase the Action’s impact.</p>
                <div class="mt-auto pt-3">
                    <a href="https://forms.gle/y6zybdoWmKBEohK8A" class="btn btn-outline-primary btn-cta no-arrow py-2 px-4"
                        target="_blank" rel="noopener">
                        Insert publication
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>


    {% include footer.html %}

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>


    <!-- Template Javascript -->
    <script src="js/main.js"></script>

</body>

</html>
